body {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-family: "Roboto", "Tahoma", sans-serif;
}

h1 {
    font-size: 35px;
    line-height: 41px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #849d8f;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  outline: 1px solid #666;
}

.wrapper {
  padding: 0 2.3%;
  outline: 1px solid #666;
}

.main-navigation {
  float: left;
  padding-top: 10px;
  width: 570px;
  outline: 1px solid #666;
}

.main-header-logo {
  float: left;
  width: 160px;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  vertical-align: top;
}

.catalog-submenu {
  display: none;
}

.user-block {
  float: right;
  width: 270px;
  margin-top: 23px;
  outline: 1px solid #666;
}

.search-block,
.login-block,
.basket-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.search-popup {
  display: none;
  position: absolute;
  right: 0;
  width: 318px;
  padding: 44px 22px;
  outline: 1px solid #666;
}

.search-popup input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.login-popup {
  display: none;
  position: absolute;
  right: 0;
  z-index: 10;
  width: 279px;
  height: 214px;
  outline: 1px solid #666;
}

.login-popup input[type="email"],
.login-popup input[type="password"],
.login-popup .btn {
  width: 240px;
  height: 44px;
  margin-top: 20px;
  margin-left: 20px;
}

.login-popup .btn {
  width: 102px;
  outline: 1px solid #666;
}

.login-options {
  position: absolute;
  right: 0;
  top: 138px;
  width: 125px;
  margin-top: 20px;
  font-size: 13px;
  outline: 1px solid #666;
}

.basket-popup {
  display: none;
  position: absolute;
  right: 0;
  width: 540px;
  outline: 1px solid #666;
}

.basket-popup td {
  padding-top: 20px;
  padding-left: 15px;
  font-size: 13px;
}

.basket-popup td:nth-child(3) {
  width: 215px;
}

.basket-popup tr:last-child {
  text-align: right;
}

.basket-popup .btn {
  float: right;
  width: 173px;
  margin: 40px 15px;
}

.basket-popup td:nth-child(4),
.basket-popup td:nth-child(5) {
  padding-left: 30px;
}

.header-bottom-row {
  clear: both;
  outline: 1px solid #666;
}

.breadcrumbs {
  float: left;
  /*width: 560px;*/
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
  outline: 1px solid #666;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
}

.header-contacts {
  float: right;
  width: 175px;
  text-align: right;
}

.main-footer {
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social {
  float: left;
  width: 23.29%;
  outline: 1px solid #666;
}

.footer-about {
  float: left;
  width: 46.58%;
  margin: 0 3%;
  outline: 1px solid #666;
}

.footer-about a {
  display: inline-block;
  vertical-align: top;
  min-width: 145px;
}

.footer-copyright {
  float: right;
  width: 23.29%;
  outline: 1px solid #666;
}

.footer-copyright a {
  display: block;
}

section {
  margin: 0;
  padding: 0;
}

/*  index  */
.slider {
  margin-bottom: 40px;
  outline: 1px solid #666;
}


.slider-slide {
  display: none;
  width: 900px;
  min-height: 700px;
  margin: 0 auto;
  outline: 1px solid #666;
  background-image: url("../img/slide-1.png");
  background-size: 100%;
}

.slider-slide:first-child {
  display: block;
}

.slider-title {
  width: 680px;
  margin: 0 auto;
  padding-top: 30%;
  font-size: 60px;
  color: #ffffff;
  line-height: 60.35px;
  text-align: center;
  outline: 1px solid #666;
}

.slider-slide .btn {
  display: block;
  width: 278px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 32px;
  outline: 1px solid #666;
}

.slider-controls {
  float: left;
  width: 80px;
  margin-top: -270px;
  outline: 1px solid #666;
}

.row {
  margin-bottom: 40px;
  outline: 1px solid #666;
}

.card {
  min-height: 230px;
  width: 48.86%;
  padding: 25px 20px;
  box-sizing: border-box;
  outline: 1px solid #666;
}

.promo-strawberry {
  float: left;
  outline: 1px solid #666;
}

.promo-chocolate {
  float: right;
  margin-left: 2.2%;
  outline: 1px solid #666;
}

.card .btn {
  float: right;
  width: 167px;
  outline: 1px solid #666;
}

.popular-items, .catalog-items {
  font-size: 0;
}

article {
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  width: 23.29%;
  margin-right: 2.26%;
  font-size: 45px;
  outline: 1px solid #666;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.item-image img {
  width: 100%;
  height: 100%;
}


.catalog-item .item-image {
  position: relative;
}

.catalog-item .item-price {
  position: absolute;
  bottom: 20px;
  left: 0;
}

.catalog-item h1 {
  font-size: 16px;
  text-align: center;
}

.about-shop h1 {
  font-size: 24px;
}

.about-shop ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.about-shop li {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding-left: 5%;
  padding-bottom: 30px;
  font-size: 16px;
}

.news-item:nth-child(1) {
  float: left;
}

.news-item:nth-child(2) {
  float: right;
}

.mailing-form {
  padding-top: 40px;
}

.mailing-form input[type="email"] {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.mailing-form .btn {
  display: inline-block;
  vertical-align: top;
}

figure {
  margin: 0;
  padding: 0;
}

.map {
  position: relative;
}

.map-image img {
  width: 100%;
}

.map-contacts {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(280px);
  width: 300px;
  outline: 1px solid #666;
}

.feedback-popup {
  display: none;
  position: fixed;
  top: 340px;
  left: 40%;
  width: 436px;
  padding: 22px 20px;
  outline: 1px solid #666;
}

.feedback-popup input[type="text"],
.feedback-popup input[type="email"],
.feedback-popup textarea {
  display: block;
  width: 266px;
  margin-top: 22px;
}

.feedback-popup textarea {
  width: 427px;
  margin-bottom: 30px;
}

.feedback-popup .btn {
  float: right;
  width: 142px;
}

/*  catalog  */

.wrapper {
  margin-bottom: 35px;
  outline: 1px solid #666;
}

.catalog-search-block {
  margin-bottom: 40px;
}

.search-sorting,
.range-filter,
.search-fatness,
.search-addition,
.catalog-search-form .btn
 {
  display: inline-block;
  vertical-align: top;
  margin-right: 1.4%;
  margin-top: 17px;
  outline: 1px solid #666;
}

.search-sorting {
  width: 17%;
}

.range-filter {
  width: 19%;
}

.search-fatness {
  width: 36%;
}

.search-addition {
  width: 64%;
}

.catalog-search-form .btn {
  width: 12%;
}

.catalog-items {
  outline: 1px solid #666;
}

.catalog-item {
  position: relative;
}

.item-express-view {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  top: 0;
  left: 0;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.1);
}

.item-express-view a {
  display: block;
  width: 206px;
  margin: 0 auto;
  text-align: center;
  outline: 1px solid #666;
}

.pagination {
  float: right;
  width: 250px;
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-size: 0;
  outline: 1px solid #666;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  font-size: 16px;
}

.pagination li:last-child {
  margin-right: 0;
}
